black==25.12.0
debugpy==1.2.1
flake8==7.3.0
pre-commit==4.5.1
#
flake8-docstrings==1.5.0
isort==7.0.0
pycodestyle==2.6.0
pydocstyle==6.3.0
pyflakes==3.4.0
pylint==2.7.2

# check-manifest==0.41
# pyroma==2.6
# readme==0.7.1
